<section id="profile-overview">
	<div class="container">
		<div class="row">
			<!-- <div class="alert text-center"><%= notice %></div> -->
			<div class="col-md-3 col-md-offset-1">
				<%= image_tag 'footwear.png' %>
			</div>
			<div class="col-md-7">
			<% if notice %>
				<div class="alert alert-success"><%= notice %></div>
			<% end %>
				<h3>Name:</h3>
				<h1><%= @participant.fname + " " + @participant.lname %></h1>
				<h3>Measurements:</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="panel text-center">
							<h1>
								<% if @participant.lf_heel_to_toe != @participant.rf_heel_to_toe %>
									<%= @participant.lf_heel_to_toe.to_s + " | " + @participant.rf_heel_to_toe.to_s %>
								<% else %>
									<%= @participant.lf_heel_to_toe %>
								<% end %>
							</h1>
							<h4>Shoe Size</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="panel text-center">
							<h1>
								<% if @participant.lf_width != @participant.rf_width %>
									<%= @participant.lf_width.to_s + " | " + @participant.rf_width.to_s %>
								<% else %>
									<%= @participant.lf_width %>
								<% end %>
							</h1>
							<h4>Shoe Width</h4>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- Profile Overview Row END -->
		<br><br>
	</div>
</section>