<%= simple_form_for @participant do |f| %>
<div class="container">
	<div class="row">
		<div class="col-md-6"> <!-- Form First Half Start --> 
			<div class="panel panel-form center-block">
				<div class="form-wrapper">
					<h3>General</h3>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :fname, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :lname, class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="form-group form-group-default">
						<%= f.input :address, class: 'form-control' %>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :city, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="form-group form-group-default">
								<%= f.input :state, class: 'form-control', input_html: { maxlength: 2 } %>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="form-group form-group-default">
								<%= f.input :zipcode, class: 'form-control', input_html: { :min => 0 , :max => 99 } %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :phone, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :email, as: :email, class: 'form-control' %>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-4">
							<%= f.input :stated_height_ft, collection: 3..7, class: 'form-control' %>
						</div>
						<div class="col-xs-4">
							<%= f.input :stated_height_in, collection: 1..11, class: 'form-control' %>
						</div>
						<div class="col-xs-4">
							<%= f.input :stated_weight %>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<%= f.input :stated_pants_waist %>
						</div>
						<div class="col-xs-4">
							<%= f.input :stated_pants_length %>
						</div>
						<div class="col-xs-4">
							<%= f.input :stated_shoe_size %>
						</div>
					</div>
				</div>
			</div>

		<section id="apparel">
			<div class="panel panel-form center-block">
				<div class="form-wrapper">
					<h3>Body</h3>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :chest, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :waist, class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :low_hip, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :high_hip, class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :inseam, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :thigh, class: 'form-control' %>
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :upper_arm, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :sleeve_length, class: 'form-control' %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-form center-block">
				<div class="form-wrapper">
					<h3>Body (Misc.)</h3>
					<div class="row">
						<div class="col-xs-3">
							<div class="form-group form-group-default">
								<%= f.input :height_ft, collection: 3..7, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="form-group form-group-default">
								<%= f.input :height_in, collection: 1..11, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :weight, class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :alpha_bottoms, collection: ['XS', 'SM', 'M', 'L', 'XL', 'XXL'] ,class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :numeric_bottoms, class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :tops_size, collection: ['XS', 'SM', 'M', 'L', 'XL', 'XXL', '3XL', '4XL', '5XL'], class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :bra_size, class: 'form-control' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
		</div> <!-- Form First Half END --> 
		<div class="col-md-6"> <!-- Form Second Half START -->
			<div class="panel panel-form center-block">
				<div class="form-wrapper">
					<h3>Background</h3>
					<div class="form-group form-group-default">
						<%= f.input :participant_type, collection: ['Employee', 'Contact', 'PDM/Volunteer'] %>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<div class="form-group form-group-default">
								<%= f.input :ethnicity, collection: ['White', 'Hispanic or Latino', 'Black or African American', 'Native American or American Indian', 'Asian', 'Pacific Islander', 'Other'] %>
							</div>
						</div>
						<div class="col-xs-3">
							<div class="form-group form-group-default">
								<%= f.input :gender, collection: ['Male', 'Female'] %>									
							</div>
						</div>
						<div class="col-xs-3">
							<div class="form-group form-group-default">
								<%= f.input :age, input_html: { min: 1, max: 99 } %>									
							</div>
						</div>
					</div>
					<div class="form-group form-group-default">
						<%= f.input :area %>
					</div>
					<div class="form-group form-group-default">
						<%= f.input :discipline,
							as: :grouped_select,
							:collection => [['Noble Outfitters', ['Western', 'English']], ['First Tactical', ['Police', 'Fire', 'EMS']]],
							:group_method => :last %>
					</div>
				</div>
			</div>

		<section id="gloves">
			<div class="panel panel-form center-block">
				<div class="form-wrapper">
					<h3>Hands</h3>

					<% if @participant.lh_palm_width_flat? %>
					
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :lh_palm_width_flat, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.lh_palm_width_flat * 2.54).round(1) %> cm.
								</h5>
							</div>
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :lh_palm_width_round, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.lh_palm_width_round * 2.54).round(1) %> cm.
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :lh_palm_length, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.lh_palm_length * 2.54).round(1) %> cm.
								</h5>
							</div>
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :lh_middle_finger, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.lh_middle_finger * 2.54).round(1) %> cm.
								</h5>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :rh_palm_width_flat, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.rh_palm_width_flat * 2.54).round(1) %> cm.
								</h5>
							</div>
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :rh_palm_width_round, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.rh_palm_width_round * 2.54).round(1) %> cm.
								</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :rh_palm_length, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.rh_palm_length * 2.54).round(1) %> cm.
								</h5>
							</div>
							<div class="col-xs-4">
								<div class="form-group form-group-default">
									<%= f.input :rh_middle_finger, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-2">
								<h5 class="text-center">
									<%= (@participant.rh_middle_finger * 2.54).round(1) %> cm. 
								</h5>
							</div>
						</div>
					
					<% else %>

						<div class="row">
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :lh_palm_width_flat, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :lh_palm_width_round, class: 'form-control' %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :lh_palm_length, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :lh_middle_finger, class: 'form-control' %>
								</div>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :rh_palm_width_flat, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :rh_palm_width_round, class: 'form-control' %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :rh_palm_length, class: 'form-control' %>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group form-group-default">
									<%= f.input :rh_middle_finger, class: 'form-control' %>
								</div>
							</div>
						</div>

					<% end %>

				</div>
			</div>
		</section>
		
		<section id="footwear">
			<div class="panel panel-form center-block">
				<div class="form-wrapper">
					<h3>Feet</h3>
					<div class="row">
						<div class="col-xs-4">
							<div class="form-group form-group-default">
								<%= f.input :lf_heel_to_toe, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group form-group-default">
								<%= f.input :lf_heel_to_arch, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group form-group-default">
								<%= f.input :lf_width, collection: ['4A', '3A', '2A', 'A', 'B', 'C', 'D', 'E', '2E', '3E'], class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="row">						
						<div class="col-xs-4">
							<div class="form-group form-group-default">
								<%= f.input :rf_heel_to_toe, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group form-group-default">
								<%= f.input :rf_heel_to_arch, class: 'form-control' %>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="form-group form-group-default">
								<%= f.input :rf_width, collection: ['4A', '3A', '2A', 'A', 'B', 'C', 'D', 'E', '2E', '3E'], class: 'form-control' %>
							</div>
						</div>
					</div>
					<div class="form-group form-group-default">
						<%= f.input :comments, class: 'form-control' %>
					</div>
				</div>
			</div>				
		</section>

		</div> <!-- Form Second Half END -->
	</div> <!-- Form Row END -->
	<div class="row row-centered">
		<div class="col-xs-2 col-centered">
			<div class="button-main">
				<br><br>
				<%= f.button :submit, "Submit" %>
			</div>
		</div>
	</div>
</div> <!-- Form Container END -->
<% end %>

<% if current_user.footwear != true && current_user.admin != true %>
	<script>
		$( "#footwear :input" ).prop( "disabled", true );
		$( "#footwear :input" ).text( )
		$( "#footwear div" ).addClass( "form-group-default-disabled" );
		$( "h3" ).css("padding-top", "10px");
		$( "hr" ).css({"margin-left": "10px", "margin-right": "10px"});
		// setTimeout( "$('.alert').show();",5000 );
	</script>
<% end %>

<% if current_user.gloves != true && current_user.admin != true %>
	<script>
		$( "#gloves :input" ).prop( "disabled", true );
		$( "#gloves :input" ).text( )
		$( "#gloves div" ).addClass( "form-group-default-disabled" );
		$( "h3" ).css("padding-top", "10px");
		$( "hr" ).css({"margin-left": "10px", "margin-right": "10px"});
		// setTimeout( "$('.alert').show();",5000 );
	</script>
<% end %>

<% if current_user.apparel != true && current_user.admin != true %>
	<script>
		$( "#apparel :input" ).prop( "disabled", true );
		$( "#apparel :input" ).text( )
		$( "#apparel div" ).addClass( "form-group-default-disabled" );
		$( "h3" ).css("padding-top", "10px");
		$( "hr" ).css({"margin-left": "10px", "margin-right": "10px"});
		// setTimeout( "$('.alert').show();",5000 );
	</script>
<% end %>




