<%= render "nav" %>

<section id="search">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="text-center">
					<h1>Quick Search</h1>
					<h5 style="opacity: 0.5; font-weight: normal">Set as many conditions as your heart desires. <br>Get back exactly what you need.</h5>
				</div>
				<br>

				<div class="text-center">
					<%= search_form_for @search, url: search_participants_path,
																			 html: { method: :post } do |f| %>
					
							<%= f.condition_fields do |c| %>
						<div class="field">
								<%= c.attribute_fields do |a| %>
									<%= a.attribute_select %>
								<% end %>
								<%= c.predicate_select %>
								<%= c.value_fields do |v| %>
									<%= v.text_field :value %>
								<% end %>
						</div>
							<% end %>
					
						<%= f.submit "Search", class: "quick-search-btn" %>
						
					<% end %></div>
			</div>	
		</div>
	</div>

	

</section>

<section id="search-results">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br>
				<%= paginate @participants %>
				<table id="search-results-table" class="table table-hover" cellspacing="0" width="100%">
				    <thead>
				        <tr>
				            <th><%= sort_link @search, :fname, "Name" %></th>
				            <th><%= sort_link @search, :participant_type, "Participant Type" %></th>
				            <th><%= sort_link @search, :city, "City" %></th>
				            <th><%= sort_link @search, :state, "State" %></th>
				            <th><%= sort_link @search, :email, "Email" %></th>
				            <th>Profile</th>
				        </tr>
				    </thead>

				    <% @participants.each do |participant| %>
				    <tbody>
				        <tr>
				            <td><%= participant.fname + " " + participant.lname %></td>
				            <td><%= participant.participant_type %></td>
				            <td><%= participant.city %></td>
				            <td><%= participant.state %></td>
				            <td><%= participant.email %></td>
				            <td><%= link_to 'View Profile', participant_path(participant.id) %></td>
				        </tr>
		        <% end %>
				    </tbody>
				</table>
			</div>
		</div>
		<!-- <div class="pull-right">
			<%= link_to 'Download Entire Participant list', participants_path(:format => :csv) %>
		</div> -->
	</div>
</section>

<footer class="page-footer">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="footer mute-grey">
				<p>© 2015 Innov8 Partners, LLC. All rights reserved. Some scary text to prevent unauthorized access or suffer the consequence. dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
			</div>
		</div>
	</div>
</footer>