<section id="new-password">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
					<p class="notice"><%= notice %></p>
				  <p class="alert"><%= alert %></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">	
				<%= image_tag 'Innov8_Logo.png', :alt => 'Innov8 Logo', class: "new-password-img center-block" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 inner-wrapper">
				

				<h3 class="text-center">Forget your password?</h3>
				<br>
				<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= f.error_notification %>

				  <div class="form-group form-group-default form-inputs">
				    <%= f.input :email, required: true, autofocus: true %>
				  </div>
				  <br>
				  <div class="form-actions">
				    <%= f.button :submit, "Reset password" %>
				  </div>
				<% end %>

				<%- if controller_name != 'sessions' %>
				  <%= link_to "Return to Log in", new_session_path(resource_name), class: "mute-grey" %><br />
				<% end -%>				
			</div>
		</div>
		<footer class="navbar-fixed-bottom">
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					<div class="footer mute-grey">
						<p>© 2015 Innov8 Partners, LLC. All rights reserved. Some scary text to prevent unauthorized access or suffer the consequence. dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque.</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</section>





